<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>

	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
	</startup>
	<appSettings>
		<add key="ExePath" value="C:\Program Files (x86)\GOG Galaxy\GalaxyClient.exe"/>
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="Galaxy2.0" connectionString="Data Source=C:\ProgramData\GOG.com\Galaxy\storage\galaxy-2.0.db;Version=3;"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>